---
import Layout from "@/components/layouts/Layout.astro";
import { H2 } from "@/components/ui/typography";
import { Input } from "@/components/ui/input";
import { Textarea } from "@/components/ui/textarea";
import { CartProductsSection } from "./_components";

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const fullName = data.get("fullName");
    const phone = data.get("phone");
    const address = data.get("address");
    const comment = data.get("comment");

    console.log(fullName, phone, address, comment);
  } catch (error) {
    if (error instanceof Error) {
      console.error(error);
    }
  }
}
---

<Layout>
  <div class="px-100 py-10 flex justify-between gap-4">
    <CartProductsSection client:load />
    <form method="POST" class="flex flex-col w-1/2 gap-4">
      <H2>Оформление заказа</H2>
      <label class="flex flex-col gap-2">
        <span>ФИО:</span>
        <Input type="text" name="fullName" required />
      </label>
      <label class="flex flex-col gap-2">
        <span>Телефон:</span>
        <Input type="tel" name="phone" required />
      </label>
      <label class="flex flex-col gap-2">
        <span>Адрес доставки:</span>
        <Input type="text" name="address" required />
      </label>
      <label class="flex flex-col gap-2">
        <span>Комментарий к заказу:</span>
        <Textarea
          name="comment"
          className="min-h-[100px] rounded-md border border-input bg-transparent px-3 py-2"
        />
      </label>
      <button
        class="bg-primary text-primary-foreground hover:bg-primary/90 rounded-md px-4 py-2 mt-4"
      >
        Оформить заказ
      </button>
    </form>
  </div>
</Layout>
