---
import Layout from "@/components/layouts/Layout.astro";
import { H1 } from "@/components/ui/typography";
import { AdvertisingCarousel, ProductListItem } from "./_components";

const products = await fetch(`${import.meta.env.API_URL}/products`).then(
  (response): Promise<Product[]> => response.json(),
);
---

<Layout>
  <AdvertisingCarousel client:load />
  <section>
    <H1>Новинки</H1>
    <ul class="grid mt-10 grid-cols-4 gap-4">
      {products.map((product) => <ProductListItem {...product} />)}
    </ul>
  </section>
  <section>
    <H1>Популярные смартфоны</H1>
    <ul class="grid mt-10 grid-cols-4 gap-4">
      {products.map((product) => <ProductListItem {...product} />)}
    </ul>
  </section>
  <section>
    <H1>Выгодные ноутбуки</H1>
    <ul class="grid mt-10 grid-cols-4 gap-4">
      {products.map((product) => <ProductListItem {...product} />)}
    </ul>
  </section>
</Layout>
